bin/Debug/net7.0/hosting-system-csharp.deps.json
bin/Debug/net7.0/hosting-system-csharp.dll
bin/Debug/net7.0/hosting-system-csharp.exe
bin/Debug/net7.0/hosting-system-csharp.pdb
bin/Debug/net7.0/hosting-system-csharp.runtimeconfig.json
bin/Debug/net7.0/Newtonsoft.Json.dll
obj/hosting-system-csharp.csproj.nuget.dgspec.json
obj/hosting-system-csharp.csproj.nuget.g.props
obj/hosting-system-csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/hosting-system-csharp.AssemblyInfo.cs
obj/Debug/net7.0/hosting-system-csharp.AssemblyInfoInputs.cache
obj/Debug/net7.0/hosting-system-csharp.assets.cache
obj/Debug/net7.0/hosting-system-csharp.csproj.AssemblyReference.cache
obj/Debug/net7.0/hosting-system-csharp.csproj.CopyComplete
obj/Debug/net7.0/hosting-system-csharp.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/hosting-system-csharp.csproj.FileListAbsolute.txt
obj/Debug/net7.0/hosting-system-csharp.dll
obj/Debug/net7.0/hosting-system-csharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/hosting-system-csharp.genruntimeconfig.cache
obj/Debug/net7.0/hosting-system-csharp.GlobalUsings.g.cs
obj/Debug/net7.0/hosting-system-csharp.pdb
obj/Debug/net7.0/ref/hosting-system-csharp.dll
obj/Debug/net7.0/refint/hosting-system-csharp.dll
